# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source
#GUSINFO:Heroku Internal Platform Engineering (HIPE),Heroku Internal Platform Engineering (HIPE)
* @heroku/hipe
